@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Gilroy-Light";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Gilroy-Medium";
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

.inbetweener__contant,
.showcase__container,
.basement__container {
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.inbetweener {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EAF3FA), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, #EAF3FA 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background: linear-gradient(0deg, #EAF3FA 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.inbetweener__container {
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
}

.inbetweener .header {
  padding-top: 56px;
  width: 100%;
}

.inbetweener .header__container {
  padding: 0 20px;
  max-width: 1212px;
  width: 100%;
  margin: 0 auto;
}

.inbetweener .header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inbetweener .header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inbetweener .header__group-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.inbetweener .header__group-items:first-child {
  background: #316099;
}

.inbetweener .header__group-items p {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  color: #316099;
}

.inbetweener .header__group-items:last-child {
  margin-left: -17px;
  background: #FFFFFF;
  border: 2px solid #316099;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inbetweener .header__burger {
  cursor: pointer;
}

.inbetweener .header__burger div {
  width: 24px;
  height: 3px;
  background: #356EAD;
  margin-bottom: 3px;
}

.inbetweener .header__burger div:last-child {
  margin-bottom: 0;
}

.inbetweener__body {
  position: relative;
  padding: 0 20px;
}

.inbetweener__img {
  background: url(/img/inbetweener/illustration.svg) center/contain no-repeat;
  margin-top: 15px;
  width: 688px;
  height: 612px;
  position: absolute;
  z-index: 1;
  right: 0;
}

.inbetweener__contant {
  z-index: 2;
  position: relative;
}

.inbetweener .promote {
  padding: 110px 0 190px 0;
}

.inbetweener .promote__title {
  width: 510px;
  font-size: 55px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #1F3F68;
}

.inbetweener .promote__text {
  font-family: "Gilroy-Medium";
  margin-bottom: 71px;
  width: 425px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.inbetweener .promote__button {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}

.inbetweener .promote span {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.showcase {
  padding: 0 20px;
}

.showcase__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 192px;
  margin-bottom: 212px;
}

.showcase__columns:first-child {
  margin-right: 100px;
}

.showcase__columns:first-child .small-block {
  margin-left: 80px;
}

.showcase__columns:nth-child(2) .small-block:nth-child(1) {
  margin-bottom: 100px;
  padding-top: 0;
}

.showcase__columns:nth-child(2) .small-block:nth-child(1) .small-block__img {
  margin-top: -20px;
  background: url(/img/small-block/3.svg) center/cover no-repeat;
  width: 236px;
  height: 197px;
}

.showcase__columns:nth-child(2) .small-block:nth-child(2) .small-block__img {
  background: url(/img/small-block/2.svg) center/cover no-repeat;
  margin-right: 40px;
  width: 169px;
  height: 131px;
}

.showcase__title {
  font-family: "Gilroy-Regular";
  width: 360px;
  margin-bottom: 158px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #316099;
}

.showcase .small-block {
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.showcase .small-block__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 60px;
}

.showcase .small-block__img {
  background: url(/img/small-block/1.svg) center/cover no-repeat;
  width: 192px;
  height: 132px;
}

.showcase .small-block__title {
  font-family: "Gilroy-Bold";
  margin-bottom: 16px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #1F3F68;
}

.showcase .small-block__text {
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
  color: #1F3F68;
  opacity: 0.6;
}

.showcase .small-block__button {
  background: initial;
  font-family: "Gilroy-Medium";
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #5A98D0;
}

.showcase .small-block__group {
  cursor: pointer;
  width: 127px;
  position: relative;
}

.showcase .small-block__button::before {
  content: "";
  background: url(/img/button/Vector.svg);
  margin: 8px 0;
  right: 0;
  position: absolute;
  width: 16px;
  height: 16px;
}

.basement__indent {
  padding: 0 25px;
}

.basement__rounding {
  background: #5A98D0;
  border-radius: 200px 0px 0px 0px;
}

.basement__container {
  padding-bottom: 125px;
}

.basement__heading {
  font-family: "Gilroy-Regular";
  padding-top: 96px;
  padding-bottom: 111px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.basement__title {
  margin-right: 97px;
  width: 223px;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.basement__text {
  width: 540px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.basement__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.basement__list-items {
  border-right: 1px solid #d4d4d4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 235px;
  height: 128px;
}

.basement__list-items p {
  text-transform: uppercase;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #F2F2F2;
}

.basement__list-items:nth-child(-n+4) {
  border-bottom: 1px solid #d4d4d4;
}

.basement__list-items:nth-child(4) {
  border-right: 0;
}

.basement__list-items:nth-child(8) {
  border-right: 0;
  background: #4E87BBFF;
}

.basement__list-items:last-child p {
  text-transform: inherit;
}

.discover {
  padding: 91px 25px 0 25px;
  padding-top: 91px;
  margin-right: 96px;
  background: #316099;
  border-radius: 0px 200px 0px 0px;
}

.discover__line {
  position: absolute;
  background: white;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  width: calc(((100vw - 96px) * 0.5) + 50%);
  height: 1px;
}

.discover__container {
  position: relative;
  padding-bottom: 96px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.discover__title {
  width: 317px;
  font-family: "Gilroy-Regular";
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
  margin-bottom: 32px;
  color: #FFFFFF;
}

.discover__text {
  width: 460px;
  font-family: "Gilroy-Regular";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.6;
}

.discover__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.discover__button {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  border-radius: 10px;
}

.discover__button span {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.footer {
  margin-top: 104px;
  padding-bottom: 64px;
}

.footer__container {
  width: 100%;
  max-width: 840px;
  margin: 0 auto;
}

.footer__indent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 123px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__info {
  width: 260px;
}

.footer__logo {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__logo-text {
  margin-left: 15px;
  font-family: "Gilroy-Light";
  font-size: 28px;
  line-height: 46px;
  letter-spacing: 0.02em;
  color: #FFFFFF;
}

.footer__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__group-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.footer__group-items:first-child {
  background: #98C3E8;
}

.footer__group-items p {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  color: #316099;
}

.footer__group-items:last-child {
  margin-left: -17px;
  background: #FFFFFF;
  border: 2px solid #316099;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.footer__connection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.footer__title {
  text-transform: uppercase;
  margin-right: 16px;
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__text {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__list-items:first-child {
  font-family: "Gilroy-Medium";
  margin-bottom: 32px;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__list-items a {
  display: block;
  font-family: "Gilroy-Light";
  margin-bottom: 16px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.footer__copyright {
  margin-top: 50px;
}

.footer__copyright-text {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  opacity: 0.4;
}

.paragraph {
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  z-index: 50;
  width: 100%;
  height: 100vh;
}

.paragraph__wrapper {
  display: none;
  background: #00000042;
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}

.paragraph__form {
  padding: 56px;
  width: 540px;
  background: #FFFFFF;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  position: relative;
  z-index: 12;
}

.paragraph__label {
  margin-bottom: 32px;
}

.paragraph__label:nth-child(4) .paragraph__inp {
  resize: none;
  padding-top: 21px;
  height: 144px;
}

.paragraph__title {
  text-transform: uppercase;
  margin-bottom: 48px;
  font-family: "Gilroy-Medium";
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
}

.paragraph__wraps {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.paragraph__cross {
  display: none;
  cursor: pointer;
  font-family: "Gilroy-Bold";
  text-transform: uppercase;
  color: #4a4a4a;
  width: 14px;
  height: 17px;
  font-size: 21px;
}

.paragraph__subtitle {
  font-family: "Gilroy-Light";
  margin-bottom: 8px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.8;
}

.paragraph__inp {
  font-family: "Gilroy-Medium";
  padding: 0 42px;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.04em;
  color: #1F3F68;
  opacity: 0.2;
  width: 100%;
  height: 72px;
  opacity: 0.4;
  border: 1px solid #356EAD;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

.paragraph__submit {
  cursor: pointer;
  margin-top: 37px;
  width: 100%;
  height: 72px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
          box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-family: "Gilroy-Medium";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}

.notification {
  display: none;
  position: fixed;
  margin-left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  margin-top: 25%;
  z-index: 100;
}

.notification__wrap {
  border: 1px solid rgba(16, 112, 177, 0.2);
  padding: 18px;
  width: 200px;
  height: 90px;
  background: #fff;
  -webkit-box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  box-shadow: 5px 10px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
}

.notification__text {
  font-family: "Gilroy-Medium";
  color: #1f3f68;
  font-size: 15px;
  text-align: center;
  line-height: 21px;
}

.showForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body {
  overflow: hidden;
}

@media (min-width: 370px) {
  .showcase__columns:first-child .small-block__img {
    margin-right: 50px;
  }

  .inbetweener .header {
    padding-top: 50px;
  }
}

@media (min-width: 850px) {
  .small-block,
  .small-block:nth-child(2) {
    width: 380px;
    padding: 47px;
  }
}

@media (max-width: 1240px) {
  .inbetweener__img {
    width: 55.754vw;
    height: 49.595vw;
    bottom: 10%;
  }
}

@media (max-width: 990px) {
  .showcase__columns:first-child {
    margin-right: 0;
  }

  .showcase__columns:first-child .small-block {
    margin-left: 0;
  }

  .showcase__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .basement__rounding {
    border-radius: 150px 0 0 0;
  }

  .basement__text {
    width: 50vw;
  }

  .basement__heading {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .basement__title {
    margin-right: 0;
  }

  .basement__list-items:nth-child(3n+3) {
    border-right: 0;
  }

  .basement__list-items:nth-child(4),
  .basement .basement__list-items:nth-child(8) {
    border-right: 1px solid #d4d4d4;
  }

  .basement__list-items:nth-child(5),
  .basement .basement__list-items:nth-child(6) {
    border-bottom: 1px solid #d4d4d4;
  }
}

@media (max-width: 880px) {
  .small-block,
  .small-block:nth-child(2) {
    width: 43.281vw;
    padding: 30px;
  }

  .discover__container,
  .discover .discover__flex {
    display: block;
  }

  .discover__button {
    margin-top: 50px;
  }

  .footer__indent {
    margin-right: 0;
  }

  .footer__info,
  .footer .footer__list {
    margin-right: 20px;
  }

  .footer__indent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 754px) {
  .inbetweener__img {
    display: none;
  }

  .inbetweener .promote {
    padding: 80px 0 120px 0;
  }

  .showcase__title {
    width: 48vw;
  }

  .showcase__container {
    margin-top: 135px;
    margin-bottom: 150px;
  }

  .basement__list-items:nth-child(2n+2),
  .basement .basement__list-items:last-child {
    border-right: 0;
  }

  .basement__list-items:nth-child(3) {
    border-right: 1px solid #d4d4d4;
  }
}

@media (max-width: 700px) {
  .paragraph__form {
    padding: 45px;
    width: 77.143vw;
  }

  .showcase__container {
    display: block;
    margin-top: 70px;
    margin-bottom: 100px;
  }

  .showcase__title {
    width: inherit;
    margin-bottom: 90px;
  }

  .showcase__columns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .small-block,
  .small-block:nth-child(2) {
    width: 420px;
    padding: 40px;
  }

  .showcase__columns:first-child .small-block {
    margin-bottom: 115px;
  }
}

@media (max-width: 600px) {
  .basement__heading {
    display: block;
  }

  .basement__text {
    margin-top: 30px;
    width: inherit;
  }

  .discover {
    margin-right: 0;
  }

  .discover__line {
    width: 100%;
  }

  .discover__text,
  .discover .discover__title {
    width: inherit;
  }
}

@media (max-width: 550px) {
  .inbetweener .promote__title {
    width: 90vw;
  }

  .inbetweener .promote__text {
    width: 80vw;
  }
}

@media (max-width: 519px) {
  .basement__list-items:nth-child(1n+1) {
    border-right: 0;
  }

  .small-block,
  .small-block:nth-child(2),
  .small-block:nth-child(3) {
    width: 100%;
  }

  .inbetweener .promote__title {
    font-size: 50px;
    line-height: 63px;
    margin-bottom: 23px;
  }

  .paragraph__form {
    padding: 25px;
    width: 87.143vw;
  }

  .paragraph__cross {
    display: block;
  }
}

@media (max-width: 370px) {
  .small-block,
  .small-block:nth-child(2),
  .small-block:nth-child(3) {
    padding: 25px;
  }

  .showcase__columns:first-child .small-block__img {
    margin-right: 30px;
  }

  .inbetweener .header {
    padding-top: 30px;
  }

  .inbetweener .promote {
    padding: 40px 0 90px 0 !important;
  }

  .basement__heading {
    padding-bottom: 40px;
  }
}

@media (max-width: 350px) {
  .footer .footer__list,
  .footer__info {
    border-bottom: 1px solid #ffffff59;
    margin-bottom: 25px;
  }
}