@charset "UTF-8";

/*Обнуление*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

/*--------------------*/

@font-face {
  font-family: "Gilroy-Bold";
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Gilroy-Light";
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

@font-face {
  font-family: "Gilroy-Regular";
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
  font-weight: initial;
  font-style: initial;
}

.inbetweener {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(8.84%, #EAF3FA), color-stop(31.12%, rgba(152, 195, 232, 0)));
  background: -o-linear-gradient(bottom, #EAF3FA 8.84%, rgba(152, 195, 232, 0) 31.12%);
  background: linear-gradient(0deg, #EAF3FA 8.84%, rgba(152, 195, 232, 0) 31.12%);
}

.inbetweener__container {
  margin: 0 auto;
  max-width: 1320px;
  width: 100%;
}

.inbetweener .header {
  padding-top: 56px;
  width: 100%;
}

.inbetweener .header__container {
  max-width: 1212px;
  width: 100%;
  margin: 0 auto;
}

.inbetweener .header__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inbetweener .header__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inbetweener .header__group-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  width: 32px;
  height: 32px;
}

.inbetweener .header__group-items:first-child {
  background: #316099;
}

.inbetweener .header__group-items p {
  font-family: "Gilroy-Bold";
  font-size: 20px;
  color: #316099;
}

.inbetweener .header__group-items:last-child {
  margin-left: -17px;
  background: #FFFFFF;
  border: 2px solid #316099;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.inbetweener .header__burger {
  cursor: pointer;
}

.inbetweener .header__burger div {
  width: 24px;
  height: 3px;
  background: #356EAD;
  margin-bottom: 3px;
}

.inbetweener .header__burger div:last-child {
  margin-bottom: 0;
}

.inbetweener__body {
  position: relative;
}

.inbetweener__img {
  background: url(/img/inbetweener/illustration.svg) center/contain no-repeat;
  margin-top: 15px;
  width: 688px;
  height: 612px;
  position: absolute;
  z-index: 1;
  right: 0;
}

.inbetweener__contant {
  z-index: 2;
  position: relative;
  max-width: 940px;
  width: 100%;
  margin: 0 auto;
}

.inbetweener .promote {
  padding: 110px 0 190px 0;
}

.inbetweener .promote__title {
  width: 510px;
  font-size: 55px;
  line-height: 74px;
  letter-spacing: 0.04em;
  margin-bottom: 32px;
  color: #1F3F68;
}

.inbetweener .promote__text {
  font-family: "Gilroy-Regular";
  margin-bottom: 71px;
  width: 425px;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0.05em;
  color: #1F3F68;
  opacity: 0.6;
}

.inbetweener .promote__button {
  width: 220px;
  height: 56px;
  background: #5A98D0;
  -webkit-box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
          box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
  border-radius: 10px;
}

.inbetweener .promote span {
  font-family: "Gilroy-Light";
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
}