@font-face {
    font-family: "Gilroy-Bold";
    font-display: swap;
    src: url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "Gilroy-Light";
    font-display: swap;
    src: url("../fonts/Gilroy-Light.woff") format("woff"), url("../fonts/Gilroy-Light.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "Gilroy-Medium";
    font-display: swap;
    src: url("../fonts/Gilroy-Medium.woff") format("woff"), url("../fonts/Gilroy-Medium.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}
@font-face {
    font-family: "Gilroy-Regular";
    font-display: swap;
    src: url("../fonts/Gilroy-Regular.woff") format("woff"), url("../fonts/Gilroy-Regular.woff2") format("woff2");
    font-weight: initial;
    font-style: initial;
}