@import "nulling-styles";
@import "fonts";

%widthBody {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

.inbetweener {
    background: linear-gradient(0deg, #EAF3FA 8.84%, rgba(152, 195, 232, 0) 31.12%);
    &__container {
        margin: 0 auto;
        max-width: 1320px;
        width: 100%;
    }
    .header {
        padding-top: 56px;
        width: 100%;
        &__container {
            max-width: 1212px;
            width: 100%;
            margin: 0 auto;
        }
        &__flex {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        &__group {
            display: flex;
            &-items {
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                width: 32px;
                height: 32px;
            }
            &-items:first-child {
                background: #316099;
            }
            &-items p {
                font-family: "Gilroy-Bold";
                font-size: 20px;
                color: #316099;
            }
            &-items:last-child {
                margin-left: -17px;
                background: #FFFFFF;
                border: 2px solid #316099;
                box-sizing: border-box;
            }
        }
        &__burger {
            cursor: pointer;
            & div {
                width: 24px;
                height: 3px;
                background: #356EAD;
                margin-bottom: 3px;
            }
            & div:last-child {
                margin-bottom: 0;
            }
        }
    }
    &__body {
        position: relative;
    }
    &__img {
        background: url(/img/inbetweener/illustration.svg) center/contain no-repeat;
        margin-top: 15px;
        width: 688px;
        height: 612px;
        position: absolute;
        z-index: 1;
        right: 0;
    }
    &__contant {
        z-index: 2;
        @extend %widthBody;
        position: relative;
    }
    .promote {
        padding: 110px 0 190px 0;
        &__title {
            width: 510px;
            font-size: 55px;
            line-height: 74px;
            letter-spacing: 0.04em;
            margin-bottom: 32px;
            color: #1F3F68;
        }
        &__text {
            font-family: "Gilroy-Medium";
            margin-bottom: 71px;
            width: 425px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #1F3F68;
            opacity: 0.6;
        }
        &__button {
            width: 220px;
            height: 56px;
            background: #5A98D0;
            box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
            border-radius: 10px;
        }
        & span {
            font-family: "Gilroy-Light";
            font-size: 16px;
            line-height: 26px;
            text-align: center;
            letter-spacing: 0.04em;
            color: #FFFFFF;
        }
    }
}
.showcase {
    &__container {
        @extend %widthBody;
        display: flex;
        margin-top: 192px;
        margin-bottom: 212px;
    }
    &__columns:first-child {
        .small-block__img  {
            margin-right: 50px;
        }
    }
    &__columns:first-child {
        margin-right: 100px;
    }
    &__columns:nth-child(2) {
        .small-block:nth-child(1) {
            margin-bottom: 100px;
            padding-top: 0;
            .small-block__img {
                margin-top: -20px;
                background: url(/img/small-block/3.svg) center/cover no-repeat;
                width: 236px;
                height: 197px;
            }
        }
        .small-block:nth-child(2) {
            padding: 47px;
            .small-block__img {
                background: url(/img/small-block/2.svg) center/cover no-repeat;
                width: 169px;
                height: 131px;
            }
        }
    }
    &__title {
        font-family: "Gilroy-Regular";
        width: 360px;
        margin-bottom: 158px;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #316099;
    }
    .small-block {
        box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
        padding: 48px;
        border-radius: 10px;
        width: 380px;
        height: 525px;
        &__flex {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 60px;
        }
        &__img {
            background: url(/img/small-block/1.svg) center/cover no-repeat;
            width: 192px;
            height: 132px;
        }
        &__title {
            font-family: "Gilroy-Bold";
            margin-bottom: 16px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #1F3F68;
        }
        &__text {
            font-family: "Gilroy-Medium";
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            margin-bottom: 32px;
            color: #1F3F68;
            opacity: 0.6;
        }
        &__button {
            background: initial;
            font-family: "Gilroy-Medium";
            font-size: 14px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #5A98D0;
        }
        &__group {
            cursor: pointer;
            width: 127px;
            position: relative;
        }
        &__button::before {
            content: "";
            background: url(/img/button/Vector.svg);
            margin: 8px 0;
            right: 0;
            position: absolute;
            width: 16px;
            height: 16px;
        }
    }
}
.basement {
    &__rounding {
        background: #5A98D0;
        border-radius: 200px 0px 0px 0px;
    }
    &__container {
        @extend %widthBody;
        padding-bottom: 125px;
    }
    &__heading {
        font-family: "Gilroy-Regular";
        padding-top: 96px;
        padding-bottom: 111px;
        display: flex;
    }
    &__title {
        margin-right: 97px;
        width: 223px;
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    &__text {
        width: 540px;
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
    }
    &__list {
        display: flex;
        flex-wrap: wrap;
        &-items {
            border-right: 1px solid #d4d4d4;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 235px;
            height: 128px;
        }
        &-items p {
            text-transform: uppercase;
            font-family: "Gilroy-Medium";
            font-size: 20px;
            line-height: 46px;
            letter-spacing: 0.02em;
            color: #F2F2F2;
        }
        &-items:nth-child(-n+4) {
            border-bottom: 1px solid #d4d4d4;
        }
        &-items:nth-child(4) {
            border-right: 0;
        }
        &-items:nth-child(8) {
            border-right: 0;
            background: #4E87BBFF;
        }
        &-items:last-child p {
            text-transform: inherit;
        }
    }
}
.discover {
    padding-top: 91px;
    margin-right: 96px;
    background: #316099;
    border-radius: 0px 200px 0px 0px;
    &__container {
        padding-bottom: 96px;
        justify-content: space-between;
        display: flex;
        width: 100%;
        max-width: 840px;
        margin: 0 auto;
    }
    &__title {
        width: 317px;
        font-family: "Gilroy-Regular";
        font-size: 36px;
        line-height: 46px;
        letter-spacing: 0.05em;
        margin-bottom: 32px;
        color: #FFFFFF;
    }
    &__text {
        width: 460px;
        font-family: "Gilroy-Regular";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
        opacity: 0.6;
    }
    &__flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__button {
        width: 220px;
        height: 56px;
        background: #5A98D0;
        border-radius: 10px;
    }
    &__button span {
        font-family: "Gilroy-Light";
        font-size: 16px;
        line-height: 26px;
        text-align: center;
        letter-spacing: 0.04em;
        color: #FFFFFF;
    }
}
.footer {
    padding-bottom: 64px;
    &__container {
        width: 100%;
        max-width: 840px;
        margin: 0 auto;
    }
    &__indent {
        display: flex;
        margin-right: 123px;
        justify-content: space-between;
    }
    &__info {
        width: 260px;
    }
    &__logo {
        margin-bottom: 30px;
        display: flex;
        align-items: center;
        &-text {
            margin-left: 15px;
            font-family: "Gilroy-Light";
            font-size: 28px;
            line-height: 46px;
            letter-spacing: 0.02em;
            color: #FFFFFF;
        }
    }
    &__group {
        display: flex;
        &-items {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            width: 32px;
            height: 32px;
        }
        &-items:first-child {
            background: #98C3E8;
        }
        &-items p {
            font-family: "Gilroy-Bold";
            font-size: 20px;
            color: #316099;
        }
        &-items:last-child {
            margin-left: -17px;
            background: #FFFFFF;
            border: 2px solid #316099;
            box-sizing: border-box;
        }
    }
    &__connection {
        display: flex;
        margin-bottom: 24px;
    }
    &__title {
        text-transform: uppercase;
        margin-right: 16px;
        font-family: "Gilroy-Light";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    &__text {
        font-family: "Gilroy-Light";
        font-size: 16px;
        line-height: 26px;
        letter-spacing: 0.05em;
        color: #FFFFFF;
    }
    &__list {
        &-items:first-child {
            font-family: "Gilroy-Medium";
            margin-bottom: 32px;
            font-size: 20px;
            line-height: 30px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
        &-items a {
            display: block;
            font-family: "Gilroy-Light";
            margin-bottom: 16px;
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
        }
    }
    &__copyright {
        margin-top: 50px;
        &-text {
            font-family: "Gilroy-Light";
            font-size: 16px;
            line-height: 26px;
            letter-spacing: 0.05em;
            color: #FFFFFF;
            opacity: 0.4;
        }
    }
}